
<ion-view title="Listado" id="page5" class=" " >
    <ion-content padding="true" class="has-header">
        <form id="listado-form1" class="list ">
            <label class="item item-input" name="Buscar">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Buscar" ng-model= "filter">
            </label>
        </form>
        <div class="list card " id="listado-card21" >
            <ion-item class="item-avatar" id="listado-list-item9" ng-repeat="emp in empleados.empleados | filter: {nombreCompleto:filter}" ng-click="mandame(emp);detallesConsultor(emp)" >
                <img src="{{emp.foto}}" onError="this.src='/RH/27/images/consultor.jpg';">
                <h2>{{emp.nombreCompleto}}</h2>
                <h4>{{emp.nivel}}</h4>
            </ion-item>
        </div>
    </ion-content>
</ion-view>